@import url('./reset.css');
@import url('./variables/global.css');

.app {
    display: flex;
    min-height: 100vh;
    color: var(--primary-color);
    font: var(--font-m);
    font-size: 30px;
    background-color: var(--bg-color);
}

.content-page {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.page-wrapper {
    flex-grow: 1;
    padding: 20px;
}

button {
    cursor: pointer;
}
