/* stylelint-disable property-no-vendor-prefix */
@import url('./reset.css');
@import url('./variables/global.css');

.app {
    display: flex;
    min-height: 100vh;
    color: var(--primary-text-color);
    font: var(--font-m);
    font-size: 30px;
    background-color: var(--bg-color);
}

.content-page {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}

.page-wrapper {
    flex-grow: 1;
    max-width: 1580px;
    padding: 64px 40px 125px;
}

button {
    cursor: pointer;
}

@media (width > 3000px) {
    body {
        zoom: 1.5;
    }
}

@media (width < 2220px) {
    body {
        zoom: 0.8;
    }
}

@media (width <= 1920px) {
    body {
        zoom: 1;
    }
}

@media (width <= 1680px) {
    body {
        zoom: 0.8;
    }
}

@media (width <= 1280px) {
    body {
        zoom: 0.6;
    }
}
