@font-face {
    font-family: Roboto;
    src: url('/assets/fonts/Roboto/Roboto-Medium.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: Gilroy;
    src: url('/assets/fonts/Gilroy/Gilroy-ExtraBold.otf') format('opentype');
    font-weight: 800;
}

@font-face {
    font-family: 'Inter Tight';
    src: url('/assets/fonts/Intertight/InterTight-Medium.ttf')
        format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'Inter Tight';
    src: url('/assets/fonts/Intertight/InterTight-SemiBold.ttf')
        format('truetype');
    font-weight: 600;
}
