.dropdownsName {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    border-radius: 16px;
    background: var(--primary-bg-color);
    padding: 16px;
}

.quantity {
    display: flex;
    justify-content: center;
    align-items: center;
    font: var(--font-s);
    border-radius: 8px;
    background: var(--primary-hover-bg);
    padding: 6px 12px;
}

.dropdownsContent {
    display: flex;
    gap: 8px;
}

.ellipsis {
    font: var(--font-s);
    color: var(--grayscale-grey);
    font-feature-settings:
        'liga' off,
        'clig' off;
    text-overflow: ellipsis;
    display: flex;
    align-items: center;
}

.dropdownsNameContainer {
    position: relative;
    cursor: pointer;
}

.dropdownItems {
    display: flex;
    gap: 10px;
}
