.filters {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 40px 0 24px;
}

.filtersCheckboxes {
    display: flex;
    align-items: center;
    gap: 32px;
}

.filterContainer {
    display: flex;
    gap: 10px;
}
