.logoContainer {
    display: flex;
    justify-content: flex-start;
    padding-left: 16px;
    gap: 16px;
}

.logoContent {
    display: flex;
    flex-direction: column;
}

.logoContentHide {
    display: none;
}

.logoTitle {
    color: var(--primary-text-color);
    font: var(--font-g);
    font-weight: 800;
}

.logoNaming {
    color: var(--primary-blue);
    font-feature-settings:
        'liga' off,
        'clig' off;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}

.collapsed .logoContainer {
    padding-left: 0;
}
