.notFound {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 100%;
}

.notFoundLink {
    text-decoration: underline;
    font: var(--font-xl);
}

.notFoundLink:hover {
    text-decoration: none;
}
