.filters {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    border-radius: 16px;
    border: 1px solid var(--primary-stroke, #d4d9e4);
    background: var(--primary-bg, #f4f6f9);
    box-shadow: 0 0 11.3px 0 rgba(17 17 17 / 0.08%);
    z-index: 7;
    position: absolute;
    width: 706px;
}

.filtersCheckboxes {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    padding: 0 10px;
}

.filterContainer {
    display: flex;
    gap: 10px;
}

.filterNameItem {
    padding: 12px 16px;
    width: 100%;
    border-bottom: 1px solid var(--grayscale-disabled-grey);
}

.filterNameItem:last-child {
    border: none;
}
