.input {
    font: var(--font-s);
    color: var(--primary-text-color);
    text-align: center;
    font-feature-settings:
        'liga' off,
        'clig' off;
}


.tabsInput {
    cursor: pointer;
    color: var(--grayscale-grey);
    text-align: center;
    font-feature-settings:
        'liga' off,
        'clig' off;
    padding: 12px 16px;
    border-radius: 8px;
}

.tabsInput > input {
    display: none;
}

