.button {
    display: flex;
    justify-content: center;
    align-items: center;
    font: var(--font-s);
    border: none;
    background: none;
    cursor: pointer;
    padding: 18px 24px;
    border-radius: 16px;
}

.clear {
    padding: 0;
    margin: 0;
    border: none;
    background: none;
}

.buttonSidebar {
    border-radius: 8px;
    border: 1px solid var(--primary-stroke);
    background: var(--bg-color);
    box-shadow: 0 0 11.3px 0 rgb(17 17 17 / 8%);
    position: absolute;
    right: -20px;
    top: 82px;
    padding: 8px;
}

.buttonPrimary {
    font: var(--font-s);
    color: var(--grayscale-white);
    font-feature-settings:
        'liga' off,
        'clig' off;
    background: var(--primary-blue);
    transition: 0.2s background ease;
}

.buttonPrimary:hover {
    background: var(--primary-blue-hover);
}

.buttonSecondary,
.buttonSecondarySmall {
    font: var(--font-s);
    color: var(--primary-text-color);
    font-feature-settings:
        'liga' off,
        'clig' off;
    background: var(--primary-light-blue);
    transition: 0.2s background ease;
}

.buttonSecondarySmall {
    padding: 10px 24px;
}

.buttonSecondary:hover {
    background: var(--primary-light-blue-hover);
}

.buttonDisabledPrimary {
    color: var(--grayscale-white);
    font-feature-settings:
        'liga' off,
        'clig' off;
    background: var(--primary-disabled-blue);
}

.buttonDisabledSecondary {
    background: var(--primary-bg-color);
}
