.changePasswordForm {
    display: flex;
    flex-direction: column;
}

.changePasswordForm h2 {
    text-align: center;
}

.ChangePasswordInputsBlock {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 32px 0 24px;
}
