.dropdowns {
    display: flex;
    justify-content: space-between;
}

.dropdownsContainer {
    border-radius: 16px;
    background: var(--primary-bg-color);
    padding: 16px;
    min-width: 706px;
}
